{% extends 'blog/base.html' %}

{% block content %}
  <div class="blog-post">
    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
    {% if post.published_date %}
      <p class="blog-date small font-italic">Published on: {{ post.published_date }}</p>
    {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="fas fa-pencil-alt"></span></a>
    {% endif %}
  </div>
{% endblock %}
