header {
  background-color: #fc6364; /* Pink */
  padding:1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #00284A; /* Navy */
}

.main {
  padding:1em 0;
}
